$color-cart: #38214E;
$background-color-text: rgba(27, 20, 34);

.cart__item{
    margin: 0.6rem;

        &__contaner{
            background-color: $color-cart;
            width: 12.5rem;
            height: 20.8rem;
            border-radius: 13.3px;
            
            &__header{
                padding: 0.5rem;
                
                &__title{
                    color: white;
                    text-align: center;
                }
            }
            
            &__content{
                background-color: white;
                width: 100%;
                height: 68%;
                
                &__image{
                    width: 100%;
                    height: 67%;
                }
                
                &__content{
                    margin: 0.1rem;
                    background-color: $background-color-text;
                    color: white;
                    padding: 0.3rem;
                }
            }
            
            &__footer{
                &__contaner{
                    color: white;
                    
                    &__part1{
                        padding-top: 0.2rem;
                        padding-left: 1rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        
                        &__start{
                            
                        }
                    }
                    &__part2{
                        margin-top: 1rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        
                        &__price{
                            margin-left: 1rem;
                            display: flex;
                        }
                        &__sell{
                            font-weight: 600 !important;
                            font-size: 1.3rem;
                            position: relative;
                            bottom: 1rem;
                            background-color: white;
                            color: $color-cart;
                            text-align: center;
                            line-height: 2.5rem;
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 1rem 50%);
                        }
                    }
                }
            }           
        }
    }
