$color-text: #A954FC;
$color-fon: #1b1422;


.multiBox {
  font-size: 1.2rem;
  font-weight: 600 !important;
  color: white;
  display: grid;
  justify-items: center;
  margin-top: 4rem;

  &__list {
    display: flex;
    list-style: none;

    &__item {
      margin-left: 4.3rem;
      margin-right: 4.3rem;
      border-bottom: solid 2px $color-fon;
      transition: all 0.5s;
      font-size: 1.5rem;

      &__link {
        text-decoration: none;
        border-bottom: solid 2px $color-fon;
        transition: color 0.2s ease;
        color: white;

        &:hover {
          border-bottom: solid 3px $color-text;
          color: $color-text;
          transition: color 0.2s ease;
        }

      }
    }
  }
}

