$color-block: #38214E;
$color-button: #703BA5;

.singIn{
  display: grid;
  place-items: center;
  height: 100vh;
  margin-top: 8rem;
  transform: translateY(-8rem);

  &__contaner{
    background-color: $color-block;
    padding: 10rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1px white;

    &__title{
      color: white;
      text-align: center;
      font-size: 1.8rem;
    }

    &__email, &__password{
      display: flex;
      padding-right: 16rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      border-radius: 1rem;
      border: solid 1px white;
      margin-top: 1rem;
      margin-right: 1rem;
      outline: none;
      padding-left: 1rem;
    }

    &__button{
      background-color: $color-button;
      border: none;
      color: white;
      padding: 1rem;
      border-radius: 1rem;  
      font-size: 1rem;
      font-weight: 600 !important;
      display: block;
      justify-items: center;
    }
  }
}
