$color-text: #6218AA;

.header {
  background-color: white;
  width: 100%;
  height: 4rem;
  color: $color-text;
  display: grid;
  place-items: center;
  font-weight: 600;
  border-radius: 0rem 0rem 1rem 1rem;
  position: fixed;
  transform: translateY(-8rem);
  z-index: 7;

  &__contaner {
    display: flex;

    &__logo {
      position: relative;
      margin-right: 6rem;

      &__img {
        width: 3rem !important;
        height: 3rem !important;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      padding-right: 10rem;
      padding-left: 10rem;

      &__item {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1rem;
        position: relative;
        top: 0.8rem;
      }
    }

    &__login {
      color: $color-text;
      font-size: 1.2rem;
      background-color: white;
      font-weight: 600;
      border-radius: 1rem;
      padding: 0.5rem;
      border: solid 3px $color-text;
      transition: all 0.5s ease-in-out;
    }

    &__login:hover{
      background-color: $color-text;
      color: white;
      transition: all 0.5s ease-in-out;
    }
  }
}