.search{
  display: grid;
  justify-items: center;
  margin-top: 8rem;

  input{
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 17rem;
    padding-left: 17rem;
    border-radius: 1rem;
    border: solid 1px white;
  }
}