.slider{
  &__contaner{
    display: grid;
    justify-items: center;

    &__list{
      display: flex;
      list-style: none;
      margin-top: 2rem;


      &__item{
        background-color: white;
        width: 13rem;
        height: 20rem;
        margin-right: 1rem;
        margin-left: 1rem ;
        border-radius: 1.5rem;
        display: grid;
        justify-items: center;
        align-items: center;

        &__sell{
          font-size: 1.5rem;
        }

        &__image{
          width: 100%;
          height: 100%;
        }

      }
    }
  }
}