$color-imageData: #c4c4c4;
$color-productData: #38214E;
$color-text-title: #1B1422;
$color-button: #A954FC;
$color-boxshadow: rgba(0, 0, 0, 0.2);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.blockProductUser {
    
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
    // font-family: "Nunito", sans-serif;
    margin-top: 2rem;

    &__section {
        height: 0.3rem;
        width: 67.4rem;
        background-color: $color-button;
        border-radius: 1rem;
        box-shadow: 0 2px 5px 1px rgb(54, 54, 54);
        z-index: 5;
    }

    &__contaner {
        z-index: 3;
        background-color: white;
        width: 67rem;
        height: 32.5rem;
        border-radius: 0rem 0rem 0.4rem 0.4rem;
        padding: 1rem;

        &__header {
            display: flex;
            margin-left: 0.7rem;
            margin-bottom: 0.7rem;

            &__return {
                color: $color-productData;
                font-size: 1.8rem;
                transform: scaleY(1.5);
            }

            &__image {
                margin-left: 0.6rem;
                background-color: aqua;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 3rem;
                box-shadow: 0 3px 1px 1px $color-boxshadow;
            }

            &__title {
                margin-left: 0.6rem;
                font-size: 1.5rem;
                color: $color-text-title;
                position: relative;
                top: 0.3rem;
                font-weight: normal;
            }
        }

        &__box {
            display: grid;
            justify-items: center;

            &__contaner {
                display: flex;

                &__imageData {
                    &__contaner {
                        background-color: $color-imageData;
                        height: 27rem;
                        width: 40rem;
                        border-radius: 1.2rem;
                        border: solid 4px $color-productData;
                    }
                }

                &__productData {
                    margin-left: 1rem;

                    &__contaner {
                        background-color: $color-productData;
                        height: 27rem;
                        width: 23.1rem;
                        border-radius: 1.2rem;
                        border: solid 4px $color-productData;
                        padding: 1rem;
                        display: grid;
                        grid-template-columns: auto auto;
                        color: white;

                        &__priceData {
                            width: 100%;
                            height: 5rem;

                        }

                        &__description {
                            margin-top: 5rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }



    &__contaner1 {
        margin-top: 1rem;
        width: 67rem;
        height: 17rem;
        background-color:white;
        border-radius: 0.4rem;
        padding: 1rem;
        display: grid;
        justify-items: center;

        &__container {
            display: flex;

            &__box {
                height: 15rem;
                width: 40rem;
                background-color: $color-productData;
                border-radius: 0.4rem;
            }

            &__box1 {
                margin-left: 1rem;
                height: 27rem;
                width: 23.1rem;
            }
        }
    }
}