$color-border: #38214E;
$color-button: #703BA5;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-text: rgba(0, 0, 0, 0.45);

.login{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    
    &__contaner{
        display: block;
        background-color: white;
        height: 35.5rem;
        width: 31.2rem;
        border-radius: 1rem;

        &__title{
            margin-top: 18%;
            text-align: center;
            font-weight: normal;
        }

        &__writingInput{
            margin-top: 5%;
            display: grid;
            justify-items: center;
            
            &__name{
                width: 25rem;
                height: 2.5rem;
                border-radius: 1.5rem;
                padding: 0.3rem;
                padding-left: 1rem;
                border: solid 1px $color-border;
                margin-bottom: 0.5rem;
                font-family: "Madimi One", serif;
                outline: none;
            }

            &__email{
                width: 25rem;
                height: 2.5rem;
                border-radius: 1.5rem;
                padding: 0.3rem;
                padding-left: 1rem;
                border: solid 1px $color-border;
                margin-bottom: 0.5rem;
                font-family: "Madimi One", serif;
                outline: none;
            }

            &__password{
                width: 25rem;
                height: 2.5rem;
                border-radius: 1.5rem;
                padding: 0.3rem;
                padding-left: 1rem;
                border: solid 1px $color-border;
                font-family: "Madimi One", serif;
                outline: none;
                margin-bottom: 0.5rem;
            }

            &__confirmPassword{
                width: 25rem;
                height: 2.5rem;
                border-radius: 1.5rem;
                padding: 0.3rem;
                padding-left: 1rem;
                border: solid 1px $color-border;
                margin-bottom: 0.5rem;
                font-family: "Madimi One", serif;
                outline: none;
            }
        }

        &__contanerButton{
            margin-top: 2%;
            display: grid;
            justify-items: center;

            &__button{
                background-color: white;
                width: 11.5rem;
                height: 2.5rem;
                border: none;
                border-radius: 0.7rem;
                font-size: 1.3rem;
                font-weight: bold;
                font-family: "Madimi One", serif;
                color: $color-border;
                text-shadow: 0 3px 1px $color-shadow;
                transition: all 0.5s ease;

                
            }
        }


        &__message{
            margin-top: 10%;
            display: grid;
            justify-items: center;

            &__contaner{
                display: flex;

                &__item{
                    width: 3rem;
                    height: 3rem;
                    background-color: #27A5E5;
                    border-radius: 7rem;
                    margin: 0.4rem;
                }
            }
        }
    }
}