.footer{
    background-color: white;
    border-radius: 2rem 2rem 0rem 0rem;;

    &__container{
        padding: 1rem;    

        &__boxData{
            display: grid;
            grid-template-columns: auto 1fr 1fr 1fr auto;
            gap: 1rem;

            &__logo{
                grid-column: 1 / 2;
                //background-color: black;
                width: 2.5rem;
                height: 2.5rem;
                position: relative;
            }
            
            &__message{
                grid-column: 2 / 3;
                &__item {
                    display: inline-flex; 
                    justify-content: center; 
                    align-items: center; 
                    background-color: black;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 2rem;
                    margin-left: 0.3rem;
                    margin-right: 0.3rem;
                
                    &__image {
                        position: relative;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                
            }

            &__about{
                grid-column: 3 / 4;
                &__list{
                    list-style: none;
                    text-align: left;
                    margin-left: 47%;
                    
                    &__item{
                        display: flex;
                        margin-top: 0.3rem;

                        &__image{
                            position: relative;
                            width: 1rem;
                            height: 1rem;
                            top: 0.1rem;
                            right: 0.2rem;
                        }
                    }
                }
            }

            &__partner{
                grid-column: 4 / 5;
                &__list{
                    list-style: none;
                }
            }

            &__contact{
                grid-column: 5 / 6;
            }

        }
    }
}

.footer__container__boxData__logo,
.footer__container__boxData__message,
.footer__container__boxData__about,
.footer__container__boxData__partner,
.footer__container__boxData__contact {
  text-align: center;
}