.footer{
    background-color: white;

    &__container{
        padding: 1rem;    

        &__boxData{
            display: grid;
            grid-template-columns: auto 1fr 1fr 1fr auto;
            gap: 1rem;

            &__logo{
                grid-column: 1 / 2;
                background-color: black;
                width: 3rem;
                height: 3rem;
            }
            
            &__message{
                grid-column: 2 / 3;
                &__item{
                    display: inline-block;
                    background-color: black;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 2rem;
                    margin-left: 0.3rem;
                    margin-right: 0.3rem;
                }    
            }

            &__about{
                grid-column: 3 / 4;
                &__list{
                    list-style: none;
                }
            }

            &__partner{
                grid-column: 4 / 5;
                &__list{
                    list-style: none;
                }
            }

            &__contact{
                grid-column: 5 / 6;
            }

        }
    }
}

.footer__container__boxData__logo,
.footer__container__boxData__message,
.footer__container__boxData__about,
.footer__container__boxData__partner,
.footer__container__boxData__contact {
  text-align: center;
}