@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Madimi+One&display=swap');

$color-text: #62358f;

.search {
  display: grid;
  justify-items: center;
  margin-top: 6rem;

  &__contaner{
    display: flex;

    &__input {
      margin-left: 1.7rem;
      width: 47.5rem;
      height: 2.9rem;
      padding: 0.7rem;
      padding-right: 3rem;
      font-size: 1.2rem;
      border-radius: 1rem;
      border: solid 6px white;
      outline: none;
      color: $color-text;
      font-family: "Madimi One", serif;
    }
    
    &__img {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      top: 0.7rem;
      right: 2.9rem;
      overflow: hidden;
    }
  }
}
  