.comments{
    &__contaner{
        display: grid;
            justify-items: center;
            margin-top: 1rem;

        &__list{
            display: grid;
            grid-template-columns: repeat(var(--size-columns), 1fr);
            list-style: none;

            &__item{
                margin-left: 0.2rem;
                margin-right: 0.2rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                display: flex;

                &__box1{
                    width: 0;
                    height: 0;
                    border-left: 0.4rem solid transparent;
                    border-right: 0.4rem solid transparent;
                    border-bottom: 0.8rem solid white;
                    transform: rotate(-90deg); 
                    position: relative;
                }

                &__box2{
                    background-color: white;
                    width: 12rem;
                    height: 6.5rem;
                    padding: 1rem;
                    border-radius: 1px 5px 5px 5px;

                    &__box{
                        display: flex;
                        
                        &__photoAcount{
                            background-color: black;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 4rem;
                        }
                        
                        &__nameAcount{
                            position: relative;
                            top: 0.3rem;
                            left: 0.7rem;
                        }
                    }
                    
                    &__comment{
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}