$fon-button: #4E189A;
$color-shadow: #A954FC;
$color-block: #C4C4C4;
$color-boxshadow: rgba(0, 0, 0, 0.3);

.slider{
  margin-bottom: 3rem;
  &__contaner{
    display: grid;
    justify-items: center;

    &__list{
      display: flex;
      //display: grid;
      //grid-template-columns: 1fr 1fr 1fr;
      list-style: none;
      margin-top: 2rem;
      height: 39.6rem;
      width: 70.8rem;
      overflow: hidden;

      &__item{
        flex-shrink: 0;
        background-color: $color-block;
        width: 21.6rem;
        height: 39rem;
        margin-right: 1rem;
        margin-left: 1rem ;
        margin-bottom: 1rem;
        margin-top: 0.3rem;
        border-radius: 1.5rem;
        display: grid;
        justify-items: center;
        align-items: center;
        box-shadow: 0 0 5px 1px $color-shadow;
        color: white;

        &__rating{
          transform: translate(-6.5rem, -4.5rem);

          &__item{
            color: $color-shadow;
            font-size: 1.5rem;
            text-shadow: 0px 3px 5px $color-boxshadow;
          }
        }

        &__sell{
          position: relative;
          top: 2rem;
          font-size: 4rem;
          text-shadow: 0px 3px 5px $color-boxshadow;
        }

        &__image{
          width: 100%;
          height: 100%;
        }

        &__data{
          display: flex;
          transform: translate(-6rem, 4rem);
            &__os{
              display: flex;
              margin-right: 0.5rem;
              position: relative;
              bottom: 0.0rem;

              &__item{
                box-shadow: 0 3px 7px 1px $color-boxshadow;
                background-color: white;
                width: 1rem;
                height: 1rem;
                margin: 0.1rem;
              }
            }
            &__date{
              font-size: 1rem;
              text-shadow: 0px 3px 5px $color-boxshadow;
            }
        
        }
        
      }
    }
    &__buttons {
      &__list {
        list-style: none;
        display: flex;
        margin-top: 1rem;

        &__item {
          width: 1rem;
          height: 1rem;
          background-color: $fon-button;
          border-radius: 1.5rem;
          margin-right: 0.2rem;
          margin-left: 0.2rem;
          box-shadow: 0px 3px 5px $color-boxshadow;
          cursor: pointer;
          transition: transform 1s ease-in-out;

          &:active{
            background-color: white;
          }
        }
      }
    }
  }
}