$fon-button: #4E189A;
$color-shadow: #A954FC;
$color-block: #C4C4C4;
$color-boxshadow: rgba(0, 0, 0, 0.3);

.slider{
  margin-bottom: 3rem;
  &__contaner{
    display: grid;
    justify-items: center;

    &__list{
      display: flex;
      list-style: none;
      margin-top: 2rem;

      &__item{
        background-color: $color-block;
        width: 21.6rem;
        height: 39rem;
        margin-right: 1rem;
        margin-left: 1rem ;
        border-radius: 1.5rem;
        display: grid;
        justify-items: center;
        align-items: center;
        box-shadow: 0 0 5px 1px $color-shadow;
        color: white;

        &__rating{
          transform: translate(-6rem, -7.5rem);

          &__item{
            color: $color-shadow;
            font-size: 1.5rem;
            text-shadow: 0px 3px 5px $color-boxshadow;
          }
        }

        &__sell{
          position: relative;
          top: -6.7rem;
          font-size: 4rem;
          text-shadow: 0px 3px 5px $color-boxshadow;
        }

        &__image{
          width: 100%;
          height: 100%;
        }

      }
    }
    &__buttons {
      &__list {
        list-style: none;
        display: flex;
        margin-top: 1rem;

        &__item {
          width: 1rem;
          height: 1rem;
          background-color: $fon-button;
          border-radius: 1.5rem;
          margin-right: 0.2rem;
          margin-left: 0.2rem;
        }
      }
    }
  }
}